<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/flex
      http://www.springframework.org/schema/flex/spring-flex-1.0.xsd"
	default-autowire="byName">
	
 	<bean id="updateCacheJob" class="com.holley.charging.job.UpdateCacheJob" scope="prototype"/>
 	<bean id="checkBillForBjJob" class="com.holley.charging.job.CheckBillForBjJob" scope="prototype"/>
 	<!-- updateCacheJob START-->
	<bean id="updateCacheJobCreater" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="updateCacheJob" />
		<property name="targetMethod" value="execute" />
	</bean>
	<bean id="updateCacheJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="updateCacheJobCreater" />
		<property name="cronExpression" value="0 0 3 * * ?" /><!-- 每天早上3点触发 -->
	</bean>
	<!-- updateCacheJob END-->
	
	<!-- checkBillForBjJob START-->
	<bean id="checkBillForBjJobCreater" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="checkBillForBjJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="checkBillForBjJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="checkBillForBjJobCreater" />
		<property name="cronExpression" value="0/60 * * * * ?" /><!-- ? -->
	</bean>
	<!-- checkBillForBjJob END-->
	<bean id="schdulerFactory" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"	autowire="no">
		<property name="triggers">
			<list>
				<ref bean="updateCacheJobTrigger"/>
				<!-- <ref bean="checkBillForBjJobTrigger"/> -->
			</list>
		</property>
	</bean>
</beans>