.register-page{
	background-color: #fdfdfe;
	padding-bottom: 10px;
}

.register-page ul li{
	width: 50%;
	text-align: center;
}

.regist-content .form-horizontal .form-group{
	margin-bottom: 15px;
}

.regist-content .form-horizontal .form-group label{
	color: #676767;
}

.regist-content .form-horizontal .form-group .form-control{
	display:inline-block;
	width:50%;
}
.regist-content .form-horizontal .form-group div span{
	color :red
}
.regist-content .form-horizontal .form-group div .refresh{
	color :blue;
}

.btn-phonecode{
	color: #676767;
    background-color: #fff;
    padding-right: 0;
}

.btn-gray{
	color:#fff;
    background-color: #ccc;
    border-style: none;
    width: 120px;
}

.btn-blue{
	color:#fff;
    background-color: #0a95f2;
    border-style: none;
    width: 120px;
}

.regist-content .form-horizontal .form-group .form-control{
	width:214px;
}
